<form action="/stocks/update/<%= stocks.id%>" method="POST" >
<h2> Create a Stock</h2>

<input value="<%= stocks.id %>"type="text" name="id" ><br/>
<input value="<%= stocks.stsymbol %>"type="text" name="stsymbol" ><br/>
<input type="submit" value="Edit Stocks" ><br/>
</form>