<form action="/stocks/create" method="POST" >

<h2>Create a Stock</h2>

<input type="text" placeholder="id" name="id" ><br/>
<input type="text" placeholder="customer_id" name="customer_id" ><br/>
<input type="text" placeholder="stsymbol" name="stsymbol" ><br/>

<input type="text" placeholder="stname" name="stname" ><br/>
<input type="text" placeholder="noshares" name="noshares" ><br/>
<input type="text" placeholder="purchaseprice" name="purchaseprice" ><br/>
<input type="text" placeholder="datepurchased" name="datepurchased" ><br/>
<input type="text" placeholder="createdAt" name="createdAt" ><br/>
<input type="text" placeholder="updatedAt" name="updatedAt" ><br/>
<input type="submit" value="Create Stock"/>
<form/>