<form action="/investments/update/<%= investments.id%>" method="POST" >
<h2> Create a Investment</h2>

<input value="<%= investments.id %>"type="text" name="id" ><br/>
<input value="<%= investments.description %>"type="text" name="description" ><br/>
<input type="submit" value="Edit Investments" ><br/>
</form>