<form action="/investments/create" method="POST" >

<h2>Create an Investment</h2>

<input type="text" placeholder="id" name="id" ><br/>
<input type="text" placeholder="customer_id" name="customer_id" ><br/>
<input type="text" placeholder="category" name="category" ><br/>

<input type="text" placeholder="description" name="description" ><br/>
<input type="text" placeholder="acquiredvalue" name="acquiredvalue" ><br/>
<input type="text" placeholder="acquireddate" name="acquireddate" ><br/>
<input type="text" placeholder="recentvalue" name="datepurchased" ><br/>
<input type="text" placeholder="recentdate" name="recentdate" ><br/>
<input type="text" placeholder="createdAt" name="createdAt" ><br/>
<input type="text" placeholder="updatedAt" name="updatedAt" ><br/>
<input type="submit" value="Create Stock"/>
<form/>