<form action="/customers/update/<%= customers.id%>" method="POST" >
<h2> Create a Customer</h2>

<input value="<%= customers.name %>"type="text" name="name" ><br/>
<input value="<%= customers.city %>"type="text" name="city" ><br/>
<input type="submit" value="Edit Customer" ><br/>
</form>