<form action="/customers/create" method="POST" >

<h2>Create a Customer</h2>

<input type="text" placeholder="Name" name="name" ><br/>
<input type="text" placeholder="streetaddress" name="streetaddress" ><br/>
<input type="text" placeholder="City" name="city" ><br/>
<input type="text" placeholder="state" name="state" ><br/>
<input type="text" placeholder="zip" name="zip" ><br/>
<input type="text" placeholder="primaryemail" name="primaryemail" ><br/>
<input type="text" placeholder="homephone" name="homephone" ><br/>
<input type="text" placeholder="cellphone" name="cellphone" ><br/>
<input type="text" placeholder="createdAt" name="createdAt" ><br/>
<input type="text" placeholder="updatedAt" name="updatedAt" ><br/>

<input type="submit" value="Create Customer"/>
<form/>